hbutils>=0.10.1
huggingface_hub>=0.31.0
tqdm
requests
click>=7
tzlocal
natsort
urlobject
fsspec>=2024; python_version > '3.8'
fsspec>=2024,<=2025.3.0; python_version <= '3.8'
random_user_agent
cachetools
